# DIAGNOSIS_RECORD Data Wrangling Document
## 1. Introduction
Data wrangling is the process of transforming and mapping data from one "raw" data form into another format with the intent of making it more appropriate and valuable for a variety of downstream purposes such as analytics. This report illustrates the process of how the `DIAGNOSIS_RECORD_1314`, `DIAGNOSIS_RECORD_1415`, and `DIAGNOSIS_RECORD_1415` cancer dataset are wrangled using `pandas`. The goal of data wrangling is to make the structure of the data clean and consistent, and eliminate the redundant and erroneous value, in order to make the data set more easier to be analyzed and visualized. The data wrangling process includes three steps:
- Step 1: Gather all of the dataset and combine them into one dataset, during which some adjustments will be done.
- Step 2: Assess the dataset by visual and programmatic ways, and identify the quality, tidienss issue, and potential issues which will not be resolved in this document.
- Step 3: Clean all of the identified the issue and check the result. The cleaned dataset will be stored in other `.csv` files. Note that the issue will not be resolved as the same sequence listed in Step 2, for it will be conveninent to resolve some issues first and others in the next.

## 2. Methodology
### 2.1 Data Quality Principle
Before we begin the data wrangling, the principle of good data quality and tidiness should be clarified. _Quality_ issues pertain to the content of data. A good quality has four dimensions:
- Completeness: The dataset has no missing rows, columns, and cells
- Validity: The dataset should conform to a schema, or the a set of rules related to real-world and table-specific constraints.
- Accuracy: The dataset should not contain valid but wrong data. 
- Consistency: The format representing the data should be standard.

### 2.2 Data Tidiness Principle
_Tidiness_ isues pertain to the structure of data. A good tidiness has three dimensions:
- Each variable forms a column.
- Each observation forms a row.
- Each type of observational unit forms a table.

## 3. Data Gathering

In [1]:
# import the package needed for analysis and visualizations
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

% matplotlib inline

# set the option to see all of columns in this notebook
pd.set_option('display.max_columns', 200)

In [2]:
# read the csv file and combine the dataset
df_1314 = pd.read_csv('DIAGNOSIS_RECORD_1314.csv')
df_1415 = pd.read_csv('DIAGNOSIS_RECORD_1415.csv')
df_1516 = pd.read_csv('DIAGNOSIS_RECORD_1516.csv')

df_1314['FIS_YEAR'] = '13/14'
df_1415['FIS_YEAR'] = '14/15'
df_1516['FIS_YEAR'] = '15/16'

df = pd.concat([df_1314, df_1415, df_1516], ignore_index=True)

/Users/zhangyinghao/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (22,23,24) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/zhangyinghao/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/zhangyinghao/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (17) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## 4. Data Assessment
### 4.1 Visual Assessment

In [3]:
# check the head of the table
df.head(10)

,USI,UNIQUE_KEY,SEX,PROC_START_DT,DIAG_CD_01,DIAG_CD_02,DIAG_CD_03,DIAG_CD_04,DIAG_CD_05,DIAG_CD_06,DIAG_CD_07,DIAG_CD_08,DIAG_CD_09,DIAG_CD_10,DIAG_CD_11,DIAG_CD_12,PROC_CD_01,PROC_CD_02,PROC_CD_03,PROC_CD_04,PROC_CD_05,PROC_CD_06,PROC_CD_07,PROC_CD_08,PROC_CD_09,PROC_CD_10,PROC_CD_11,PROC_CD_12,FIS_YEAR
0,NaN,6387796,2.0,NaN,PP0731,PZ380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13/14
1,NaN,6401408,2.0,NaN,PP0731,PP0713,PZ380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13/14
2,NaN,6402862,1.0,NaN,PR410,PF100,PS010,PX59,PY929,PU739,PZ911,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13/14
3,NaN,6406854,1.0,NaN,PS010,PS0154,PW19,PY9209,PU739,PE1064,PE348,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13/14
4,NaN,6414820,2.0,NaN,PE1065,PK210,AZ8643,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13/14
5,NaN,6455165,2.0,NaN,PF100,PY906,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13/14
6,NaN,6467204,2.0,NaN,PS578,PV039,PY929,PU739,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13/14
7,NaN,6503441,1.0,NaN,PZ380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13/14
8,NaN,6531874,2.0,NaN,PP0732,PP0713,PZ380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13/14
9,NaN,6535766,2.0,NaN,PP0732,PP0713,PZ380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13/14

In [4]:
# check the tail of the table
df.tail()

,USI,UNIQUE_KEY,SEX,PROC_START_DT,DIAG_CD_01,DIAG_CD_02,DIAG_CD_03,DIAG_CD_04,DIAG_CD_05,DIAG_CD_06,DIAG_CD_07,DIAG_CD_08,DIAG_CD_09,DIAG_CD_10,DIAG_CD_11,DIAG_CD_12,PROC_CD_01,PROC_CD_02,PROC_CD_03,PROC_CD_04,PROC_CD_05,PROC_CD_06,PROC_CD_07,PROC_CD_08,PROC_CD_09,PROC_CD_10,PROC_CD_11,PROC_CD_12,FIS_YEAR
261554,2728971.0,6754918,1.0,NaN,PA084,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15/16
261555,2729200.0,6755246,1.0,NaN,PG35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3900000,9619903,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15/16
261556,2729527.0,6756100,2.0,NaN,PF3230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9334101,9251499,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15/16
261557,2729527.0,6756101,2.0,NaN,PF3230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9334101,9251499,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15/16
261558,2729527.0,6756102,2.0,NaN,PF3230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9334101,9251499,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15/16

In [5]:
# check the random 10 samples of the table
df.sample(10)

,USI,UNIQUE_KEY,SEX,PROC_START_DT,DIAG_CD_01,DIAG_CD_02,DIAG_CD_03,DIAG_CD_04,DIAG_CD_05,DIAG_CD_06,DIAG_CD_07,DIAG_CD_08,DIAG_CD_09,DIAG_CD_10,DIAG_CD_11,DIAG_CD_12,PROC_CD_01,PROC_CD_02,PROC_CD_03,PROC_CD_04,PROC_CD_05,PROC_CD_06,PROC_CD_07,PROC_CD_08,PROC_CD_09,PROC_CD_10,PROC_CD_11,PROC_CD_12,FIS_YEAR
175232,10958.0,6736807,2.0,NaN,PZ491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1310000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15/16
126520,1156826.0,6614916,1.0,16FEB2015,PI620,PL600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3960000,9.25143e+06,9.555e+06,9555002,9.555e+06,9.555e+06,9.55501e+06,NaN,NaN,NaN,NaN,NaN,14/15
2148,2403.0,6402770,1.0,NaN,PZ491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1310000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13/14
168197,2668540.0,6633574,2.0,NaN,PR074,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14/15
181397,112546.0,6719759,1.0,NaN,PZ491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1310000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15/16
146748,2200338.0,6615617,2.0,NaN,PD509,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9619909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14/15
61935,2181061.0,6403639,1.0,11SEP2013,PJ90,PJ869,PJ189,PJ948,CE876,CE834,CT838,CN328,CY846,CY9222,NaN,NaN,3842100,3843601,9251419,9555009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13/14
125692,1151444.0,6577462,1.0,23SEP2014,PI2511,AI10,CE1164,CE1165,CI489,CD689,CJ981,CI959,NaN,NaN,NaN,NaN,3850000,3.85e+06,3.86e+06,5511800,9.25144e+06,9.55501e+06,9.55501e+06,9.555e+06,NaN,NaN,NaN,NaN,14/15
72611,2396046.0,6527804,1.0,NaN,PZ491,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1310000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13/14
61047,2174941.0,6515089,1.0,26MAR2014,PJ13,PA499,PI498,PS499,PS899,PS699,PS799,PW19,PY929,PU6029,PR945,AZ8643,5012400,9555003,9555009,9555001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13/14

There are some problems found inside these three tables. 
- Firstly, `USI` indicates the identification of patients, so it should be `int` rather than `float`.
- Secondly, there are some `NaN` values in `USI`.
- Thirdly, `PROC_START_DT` should be `datetime` object rather than `string` object.
- Fourthly, it is obvious that this dataset is not tidy, that is, it contains more than one observation units in one table, such as putting `DIAG` and `PROC` in one table. According to the column meaning, this dataset is expected to be split into several tables in order to satisfy the principle that each table contains one observation unit.

### 4.2 Programmatic Assessment

In [6]:
# get the information of the table
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261559 entries, 0 to 261558
Data columns (total 29 columns):
USI              261496 non-null float64
UNIQUE_KEY       261559 non-null int64
SEX              261533 non-null float64
PROC_START_DT    67916 non-null object
DIAG_CD_01       261559 non-null object
DIAG_CD_02       156898 non-null object
DIAG_CD_03       130226 non-null object
DIAG_CD_04       103088 non-null object
DIAG_CD_05       83782 non-null object
DIAG_CD_06       65332 non-null object
DIAG_CD_07       51555 non-null object
DIAG_CD_08       41111 non-null object
DIAG_CD_09       32795 non-null object
DIAG_CD_10       26043 non-null object
DIAG_CD_11       20784 non-null object
DIAG_CD_12       16695 non-null object
PROC_CD_01       225919 non-null object
PROC_CD_02       110014 non-null object
PROC_CD_03       65430 non-null object
PROC_CD_04       43547 non-null object
PROC_CD_05       29635 non-null object
PROC_CD_06       20330 non-null object
PROC_CD_07       13752 non-null object
PROC_CD_08       9537 non-null object
PROC_CD_09       6786 non-null object
PROC_CD_10       4966 non-null float64
PROC_CD_11       3637 non-null float64
PROC_CD_12       2716 non-null float64
FIS_YEAR         261559 non-null object
dtypes: float64(5), int64(1), object(23)
memory usage: 57.9+ MB

It seems that some values are missing in `SEX`, the value is checked below.

In [7]:
# check the value in `SEX`
df.SEX.value_counts()

1.0    139911
2.0    121622
Name: SEX, dtype: int64

There are some issues inside this table:
- Firstly, `SEX` just contains `1` or `2`, so it should be `int` rather than `float`.
- Secondly, some values in `SEX` are missing.
- Thirdly, since `PROC_CD` indicates the procedure code, all of the `PROC_CD` should be `string` rather than `float`.

In [8]:
# check the duplicates in the table
df.duplicated().sum()

0

It seems that there are no duplicated records.

### 4.3 Issues Summary
#### 4.3.1 Quality Issues
- There are some `NaN` values in `USI`.
- `USI` should be `int` rather than `float`.
- `PROC_START_DATE` should be `datetime` object rather than `string` object.
- `SEX` should be `int` rather than `float`.
- Some values in `SEX` are missing.
- All of the `PROC_CD` should be `string` rather than `float`.

#### 4.3.2 Tidiness Issues
- The dataset `df` contains more than one observation unit.

## 5. Data Cleaning
### 5.1 Issue 1: There are some `NaN` values in `USI`.
#### Define
Delete the rows with `NaN` values in `USI`.

#### Code

In [9]:
df_1 = df.copy()
df_1.dropna(subset=['USI'], inplace=True)

#### Test

In [10]:
df_1.USI.isnull().sum()

0

### 5.2 Issue 2: `USI` should be `int` rather than `float`.
#### Define
Convert the data type of `USI` from `int` to `float`.

#### Code

In [11]:
df_2 = df_1.copy()
df_2.USI = df_2.USI.astype('int')

#### Test

In [12]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 261496 entries, 10 to 261558
Data columns (total 29 columns):
USI              261496 non-null int64
UNIQUE_KEY       261496 non-null int64
SEX              261496 non-null float64
PROC_START_DT    67908 non-null object
DIAG_CD_01       261496 non-null object
DIAG_CD_02       156846 non-null object
DIAG_CD_03       130182 non-null object
DIAG_CD_04       103052 non-null object
DIAG_CD_05       83747 non-null object
DIAG_CD_06       65299 non-null object
DIAG_CD_07       51528 non-null object
DIAG_CD_08       41090 non-null object
DIAG_CD_09       32781 non-null object
DIAG_CD_10       26032 non-null object
DIAG_CD_11       20774 non-null object
DIAG_CD_12       16688 non-null object
PROC_CD_01       225886 non-null object
PROC_CD_02       109990 non-null object
PROC_CD_03       65409 non-null object
PROC_CD_04       43530 non-null object
PROC_CD_05       29622 non-null object
PROC_CD_06       20323 non-null object
PROC_CD_07       13749 non-null object
PROC_CD_08       9535 non-null object
PROC_CD_09       6784 non-null object
PROC_CD_10       4965 non-null float64
PROC_CD_11       3637 non-null float64
PROC_CD_12       2716 non-null float64
FIS_YEAR         261496 non-null object
dtypes: float64(4), int64(2), object(23)
memory usage: 59.9+ MB

### 5.3 Issue 3: `PROC_START_DT` should be `datetime` object rather than `string` object.
#### Define
Convert the data type of `PROC_START_DT` from `string` to `datetime`.

#### Code

In [13]:
df.PROC_START_DT

0               NaN
1               NaN
2               NaN
3               NaN
4               NaN
5               NaN
6               NaN
7               NaN
8               NaN
9               NaN
10              NaN
11              NaN
12        27MAR2014
13              NaN
14              NaN
15        08JUL2013
16              NaN
17              NaN
18              NaN
19              NaN
20              NaN
21        26AUG2013
22              NaN
23              NaN
24              NaN
25              NaN
26              NaN
27              NaN
28        21OCT2013
29              NaN
            ...
261529          NaN
261530    28JUN2016
261531          NaN
261532          NaN
261533          NaN
261534          NaN
261535          NaN
261536    28JUN2016
261537          NaN
261538          NaN
261539          NaN
261540          NaN
261541          NaN
261542          NaN
261543          NaN
261544          NaN
261545          NaN
261546          NaN
261547          NaN
261548          NaN
261549          NaN
261550          NaN
261551          NaN
261552          NaN
261553          NaN
261554          NaN
261555          NaN
261556          NaN
261557          NaN
261558          NaN
Name: PROC_START_DT, Length: 261559, dtype: object

In [14]:
from datetime import datetime

def convert_datetime(x):
    day = x[:2]
    month = x[2:5]
    year = x[-4:]
    
    month = convert_month(month)
    date_str = year + '-' + month + '-' + day
    date_dt = datetime.strptime(date_str, '%Y-%m-%d')
    return date_dt
    
def convert_month(month):
    if month == 'JAN':
        return '01'
    elif month == 'FEB':
        return '02'
    elif month == 'MAR':
        return '03'
    elif month == 'APR':
        return '04'
    elif month == 'MAY':
        return '05'
    elif month == 'JUN':
        return '06'
    elif month == 'JUL':
        return '07'
    elif month == 'AUG':
        return '08'
    elif month == 'SEP':
        return '09'
    elif month == 'OCT':
        return '10'
    elif month == 'NOV':
        return '11'
    elif month == 'DEC':
        return '12'
    
df_3 = df_2.copy()
df_3.PROC_START_DT = df_3[df_3.PROC_START_DT.notnull()].PROC_START_DT.apply(convert_datetime)

#### Test

In [15]:
df_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 261496 entries, 10 to 261558
Data columns (total 29 columns):
USI              261496 non-null int64
UNIQUE_KEY       261496 non-null int64
SEX              261496 non-null float64
PROC_START_DT    67908 non-null datetime64[ns]
DIAG_CD_01       261496 non-null object
DIAG_CD_02       156846 non-null object
DIAG_CD_03       130182 non-null object
DIAG_CD_04       103052 non-null object
DIAG_CD_05       83747 non-null object
DIAG_CD_06       65299 non-null object
DIAG_CD_07       51528 non-null object
DIAG_CD_08       41090 non-null object
DIAG_CD_09       32781 non-null object
DIAG_CD_10       26032 non-null object
DIAG_CD_11       20774 non-null object
DIAG_CD_12       16688 non-null object
PROC_CD_01       225886 non-null object
PROC_CD_02       109990 non-null object
PROC_CD_03       65409 non-null object
PROC_CD_04       43530 non-null object
PROC_CD_05       29622 non-null object
PROC_CD_06       20323 non-null object
PROC_CD_07       13749 non-null object
PROC_CD_08       9535 non-null object
PROC_CD_09       6784 non-null object
PROC_CD_10       4965 non-null float64
PROC_CD_11       3637 non-null float64
PROC_CD_12       2716 non-null float64
FIS_YEAR         261496 non-null object
dtypes: datetime64[ns](1), float64(4), int64(2), object(22)
memory usage: 59.9+ MB

### 5.4 Issue 4: `SEX` should be `int` rather than `float`.
#### Define
Convert the data type of `SEX` from `int` to `float`.

#### Code

In [16]:
df_4 = df_3.copy()
df_4.SEX = df_4.SEX.astype('int')

#### Test

In [17]:
df_4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 261496 entries, 10 to 261558
Data columns (total 29 columns):
USI              261496 non-null int64
UNIQUE_KEY       261496 non-null int64
SEX              261496 non-null int64
PROC_START_DT    67908 non-null datetime64[ns]
DIAG_CD_01       261496 non-null object
DIAG_CD_02       156846 non-null object
DIAG_CD_03       130182 non-null object
DIAG_CD_04       103052 non-null object
DIAG_CD_05       83747 non-null object
DIAG_CD_06       65299 non-null object
DIAG_CD_07       51528 non-null object
DIAG_CD_08       41090 non-null object
DIAG_CD_09       32781 non-null object
DIAG_CD_10       26032 non-null object
DIAG_CD_11       20774 non-null object
DIAG_CD_12       16688 non-null object
PROC_CD_01       225886 non-null object
PROC_CD_02       109990 non-null object
PROC_CD_03       65409 non-null object
PROC_CD_04       43530 non-null object
PROC_CD_05       29622 non-null object
PROC_CD_06       20323 non-null object
PROC_CD_07       13749 non-null object
PROC_CD_08       9535 non-null object
PROC_CD_09       6784 non-null object
PROC_CD_10       4965 non-null float64
PROC_CD_11       3637 non-null float64
PROC_CD_12       2716 non-null float64
FIS_YEAR         261496 non-null object
dtypes: datetime64[ns](1), float64(3), int64(3), object(22)
memory usage: 59.9+ MB

### 5.5 Issue 5: Some values in `SEX` are missing.
Resolved in _Section 4.1_.

### 5.6 Issue 6: The dataset `df` contains more than one observation unit.
#### Define
Split one table into two tables named `diag`, `proc`, representing the patient's diagnosis and procedure information respectively. This way of spliting can ensure each table represents one observation unit. Each table will keep the `USI`, `UNIQUE_KEY`, and `SEX` columns. Then, the table of `diag`, `proc`will be restructured to remove the null value.

#### Code

In [18]:
# create the list needed for diag and proc
diag_list = ['DIAG_CD_01', 'DIAG_CD_02', 'DIAG_CD_03', 'DIAG_CD_04', 'DIAG_CD_05', 'DIAG_CD_06', 'DIAG_CD_07', 
             'DIAG_CD_08', 'DIAG_CD_09', 'DIAG_CD_10', 'DIAG_CD_11', 'DIAG_CD_12']
proc_list = ['PROC_CD_01', 'PROC_CD_02', 'PROC_CD_03', 'PROC_CD_04', 'PROC_CD_05', 'PROC_CD_06', 'PROC_CD_07', 
             'PROC_CD_08', 'PROC_CD_09', 'PROC_CD_10', 'PROC_CD_11' ,'PROC_CD_12']

# split the table
df_6 = df_4.copy()
diag_6 = df_6[['USI', 'UNIQUE_KEY', 'SEX', 'FIS_YEAR', 'DIAG_CD_01', 'DIAG_CD_02', 'DIAG_CD_03', 'DIAG_CD_04', 
               'DIAG_CD_05', 'DIAG_CD_06', 'DIAG_CD_07', 'DIAG_CD_08', 'DIAG_CD_09', 'DIAG_CD_10', 'DIAG_CD_11', 
               'DIAG_CD_12']]
proc_6 = df_6[['USI', 'UNIQUE_KEY', 'SEX', 'FIS_YEAR', 'PROC_START_DT', 'PROC_CD_01', 'PROC_CD_02', 'PROC_CD_03', 
               'PROC_CD_04', 'PROC_CD_05', 'PROC_CD_06', 'PROC_CD_07', 'PROC_CD_08', 'PROC_CD_09', 'PROC_CD_10', 
               'PROC_CD_11' ,'PROC_CD_12']]

# restructure the table and remove the null value
diag_6 = pd.melt(diag_6, id_vars=['USI', 'UNIQUE_KEY', 'SEX', 'FIS_YEAR'], value_vars=diag_list, 
                 var_name='DIAG_STAGE', value_name='DIAG_CD')
diag_6.DIAG_STAGE = diag_6.DIAG_STAGE.str[-2:]
diag_6.dropna(inplace=True)

proc_6 = pd.melt(proc_6, id_vars=['USI', 'UNIQUE_KEY', 'SEX', 'FIS_YEAR', 'PROC_START_DT'], value_vars=proc_list, 
                 var_name='PROC_STAGE', value_name='PROC_CD')
proc_6.PROC_STAGE = proc_6.PROC_STAGE.str[-2:]
proc_6.dropna(inplace=True)

#### Test

In [19]:
diag_6.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 989515 entries, 0 to 3137902
Data columns (total 6 columns):
USI           989515 non-null int64
UNIQUE_KEY    989515 non-null int64
SEX           989515 non-null int64
FIS_YEAR      989515 non-null object
DIAG_STAGE    989515 non-null object
DIAG_CD       989515 non-null object
dtypes: int64(3), object(3)
memory usage: 52.8+ MB

In [20]:
proc_6.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 262415 entries, 2 to 3137682
Data columns (total 7 columns):
USI              262415 non-null int64
UNIQUE_KEY       262415 non-null int64
SEX              262415 non-null int64
FIS_YEAR         262415 non-null object
PROC_START_DT    262415 non-null datetime64[ns]
PROC_STAGE       262415 non-null object
PROC_CD          262415 non-null object
dtypes: datetime64[ns](1), int64(3), object(3)
memory usage: 16.0+ MB

### 5.7 Issue 7: All of the `PROC_CD` should be `string` rather than `float`.
Resolved in _Section 4.6_.

### 5.8 Summary
All of the issues have been resolved, the characteristics of each table is shown below:

In [21]:
diag_clean = diag_6.copy()
proc_clean = proc_6.copy()

In [22]:
diag_clean.head()

   USI  UNIQUE_KEY  SEX FIS_YEAR DIAG_STAGE  DIAG_CD
0   98     6447017    2    13/14         01    PF445
1   98     6554513    2    13/14         01     PJ22
2  112     6518907    2    13/14         01    PD125
3  131     6489769    2    13/14         01    PE269
4  156     6385291    2    13/14         01   PE1173

In [23]:
diag_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 989515 entries, 0 to 3137902
Data columns (total 6 columns):
USI           989515 non-null int64
UNIQUE_KEY    989515 non-null int64
SEX           989515 non-null int64
FIS_YEAR      989515 non-null object
DIAG_STAGE    989515 non-null object
DIAG_CD       989515 non-null object
dtypes: int64(3), object(3)
memory usage: 52.8+ MB

In [24]:
proc_clean.head()

    USI  UNIQUE_KEY  SEX FIS_YEAR PROC_START_DT PROC_STAGE  PROC_CD
2   112     6518907    2    13/14    2014-03-27         01  3209300
5   156     6387322    2    13/14    2013-07-08         01  9066500
11  156     6399365    2    13/14    2013-08-26         01  9066500
18  156     6409153    2    13/14    2013-10-21         01  3002300
21  156     6457995    2    13/14    2013-12-03         01  4436702

In [25]:
proc_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 262415 entries, 2 to 3137682
Data columns (total 7 columns):
USI              262415 non-null int64
UNIQUE_KEY       262415 non-null int64
SEX              262415 non-null int64
FIS_YEAR         262415 non-null object
PROC_START_DT    262415 non-null datetime64[ns]
PROC_STAGE       262415 non-null object
PROC_CD          262415 non-null object
dtypes: datetime64[ns](1), int64(3), object(3)
memory usage: 16.0+ MB

## 6. Data Storage

In [26]:
# store the data to the .csv file
diag_clean.to_csv('diag_clean.csv', index=False)
proc_clean.to_csv('proc_clean.csv', index=False)

## 7. Conclusion
This report records the whole wrangling process of the `DIAGNOSIS_RECORD` dataset from gathering to storage. During this process, 6 quality issues and 1 tidiness issue have been identified. Since the data wrangling is a repetitive rather than one-step process in industry, this wrangling is an initial trial and cannot ensure all of the potential issues are resolved. This document will be improved when other issues are found in analysis and visualization.